* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
@font-face {
    src: url(webfonts/alk_life.otf);
    font-family: alk-life;
}
@font-face{
    src: url(webfonts/bpg_dejavu_sans.ttf);
    font-family: dejavu;
}
header {
    display: flex;
    background-color:  #D9D9D9;
    /* max-width:1440px;
    height: 200px; */
    align-items: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
   
}

header ul {
    display: flex; 
    font-family: alk-life;
    
}
header a {
   
    width: 178px;
    height: 100px;
}

.active-link {
    color:#A62B28;
    
}
.box {
    margin: 38px;
    color: #717276;
    font-size: 15px;

}
.image {
    display: flex;
    justify-content: center;
}
.background {
   width: 1180px; 
   height: 287px;
   margin-top: 160px;
   margin-left: 130px;
}
.frame {
    background-color: #A62B28;
    width: 100px;
    height: 100px;
}
section p {
   font-size: 32px;
   color:  #717276;
   width: 700px;
   position: absolute;
   
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 130px;
    
}
.little {
    margin: 140px;
}
.img {
    margin-left: 20px;
    margin-right: 20px;
}
main {
    margin-left: 130px;
    margin-top: 40px;
    
}
span ul {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 8px;
    }

span {
    margin-top: 50px;
    margin-left: 134px;
  
    
}
.title {
    color: #717276;
    width: 700;
    margin-top: 50px;
    font-family: dejavu;
    
}
.title-1 {
color: #000000;
width: 400;
font-family: alk-life;

}
.title-2 {
    color:  #000000;
    width: 400;
    font-weight: bold;
    font-family: dejavu;
    
    
}

footer {
    background-color: #D9D9D9;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    max-width:1440px;
    height: 200px;
}
footer ul {
    padding-top: 71px;
    padding-left: 130px;
    font-family: alk-life;
    
    
}
.footer {
    margin: 8px 0;
    
}
.footer-1 {
    margin: 0 21px;
   width: 30px;
   height: 30px;
}
footer ol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 71px;
    padding-right: 130px;
    padding-bottom: 147px;

}
.black {
   
    color: #000000;
}